---
apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: cephfs-provisioner-v{{ cephfs_provisioner_image_tag }}
  namespace: {{ cephfs_provisioner_namespace }}
  labels:
    k8s-app: cephfs-provisioner
    version: v{{ cephfs_provisioner_image_tag }}
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: cephfs-provisioner
      version: v{{ cephfs_provisioner_image_tag }}
  template:
    metadata:
      labels:
        k8s-app: cephfs-provisioner
        version: v{{ cephfs_provisioner_image_tag }}
    spec:
      serviceAccount: cephfs-provisioner
      containers:
        - name: cephfs-provisioner
          image: {{ cephfs_provisioner_image_repo }}:{{ cephfs_provisioner_image_tag }}
          imagePullPolicy: {{ k8s_image_pull_policy }}
          env:
            - name: PROVISIONER_NAME
              value: ceph.com/cephfs
          command:
            - "/usr/local/bin/cephfs-provisioner"
          args:
            - "-id=cephfs-provisioner-1"
