---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: nginx-ingress-controller
  namespace: {{ nginx_ingress_namespace }}
  labels:
    k8s-app: nginx-ingress
    version: v{{ nginx_ingress_controller_image_tag }}
  annotations:
    prometheus.io/port: '10254'
    prometheus.io/scrape: 'true'
spec:
  selector:
    matchLabels:
      k8s-app: nginx-ingress
      version: v{{ nginx_ingress_controller_image_tag }}
  template:
    metadata:
      labels:
        k8s-app: nginx-ingress
        version: v{{ nginx_ingress_controller_image_tag }}
    spec:
      serviceAccountName: nginx-ingress
      containers:
        - name: nginx-ingress-controller
          image: {{ nginx_ingress_controller_image_repo }}:{{ nginx_ingress_controller_image_tag }}
          imagePullPolicy: {{ k8s_image_pull_policy }}
          args:
            - /nginx-ingress-controller
            - --default-backend-service=$(POD_NAMESPACE)/nginx-ingress-default-backend
            - --configmap=$(POD_NAMESPACE)/nginx-ingress
            - --tcp-services-configmap=$(POD_NAMESPACE)/nginx-ingress-tcp-services
            - --udp-services-configmap=$(POD_NAMESPACE)/nginx-ingress-udp-services
            - --annotations-prefix=nginx.ingress.kubernetes.io
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          ports:
            - name: http
              containerPort: 80
              hostPort: {{ nginx_ingress_insecure_port }}
            - name: https
              containerPort: 443
              hostPort: {{ nginx_ingress_secure_port }}
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: 10254
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: 10254
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
