---
apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-default-backend
  namespace: {{ nginx_ingress_namespace }}
  labels:
    k8s-app: nginx-ingress-default-backend
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    k8s-app: nginx-ingress-default-backend
