---
apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: nginx-ingress-default-backend-v{{ nginx_ingress_default_backend_image_tag }}
  namespace: {{ nginx_ingress_namespace }}
  labels:
    k8s-app: nginx-ingress-default-backend
    version: v{{ nginx_ingress_default_backend_image_tag }}
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: nginx-ingress-default-backend
      version: v{{ nginx_ingress_default_backend_image_tag }}
  template:
    metadata:
      labels:
        k8s-app: nginx-ingress-default-backend
        version: v{{ nginx_ingress_default_backend_image_tag }}
    spec:
      terminationGracePeriodSeconds: 60
      containers:
        - name: nginx-ingress-default-backend
          # Any image is permissible as long as:
          # 1. It serves a 404 page at /
          # 2. It serves 200 on a /healthz endpoint
          image: {{ nginx_ingress_default_backend_image_repo }}:{{ nginx_ingress_default_backend_image_tag }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 5
          ports:
            - containerPort: 8080
