---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: nginx-ingress
  namespace: {{ nginx_ingress_namespace }}
subjects:
  - kind: ServiceAccount
    name: nginx-ingress
    namespace: {{ nginx_ingress_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: nginx-ingress-role
