---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: nginx-ingress
  namespace: {{ nginx_ingress_namespace }}
subjects:
  - kind: ServiceAccount
    name: nginx-ingress
    namespace: {{ nginx_ingress_namespace }}
roleRef:
  kind: ClusterRole
  name: nginx-ingress-clusterrole
  apiGroup: rbac.authorization.k8s.io
