---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: registry-proxy
  namespace: {{ registry_namespace }}
  labels:
    k8s-app: registry-proxy
    kubernetes.io/cluster-service: "true"
    version: v{{ registry_proxy_image_tag }}
spec:
  selector:
    matchLabels:
      k8s-app: registry-proxy
      version: v{{ registry_proxy_image_tag }}
  template:
    metadata:
      labels:
        k8s-app: registry-proxy
        kubernetes.io/name: "registry-proxy"
        kubernetes.io/cluster-service: "true"
        version: v{{ registry_proxy_image_tag }}
    spec:
      containers:
        - name: registry-proxy
          image: {{ registry_proxy_image_repo }}:{{ registry_proxy_image_tag }}
          imagePullPolicy: {{ k8s_image_pull_policy }}
          env:
            - name: REGISTRY_HOST
              value: registry.{{ registry_namespace }}.svc.cluster.local
            - name: REGISTRY_PORT
              value: "5000"
          ports:
            - name: registry
              containerPort: 80
              hostPort: 5000
